.nav-title {
    font-family: 'Merienda', cursive;
    color: #396C03;
    font-weight: 700;
    font-size: 28px;

}

.navbar-info {
    height: 80px;
    background: rgba(107, 145, 66, 0.244);
}

.nav-text {
    font-size: 18px;
    font-weight: 500;
    color: #3F3F3F;
    margin-right: 6px;
    /* line-height: 36px; */

}

.login-btn {

    background: #396C03;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 225px;
    margin-right: 24px;
}

.cart-btn {
    height: 56px;
    width: 56px;
    border-radius: 28px;
    background: #396C03;
    position: relative;

}

.cart-btn>img {
    width: 28px;
    height: 30px;

}

.cart-clip {
    background-color: #FF8B00;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    color: white;
    font-weight: 700;
    position: absolute;
    top: -6px;
    right: -6px;

}

hr {
    border: 1px solid #396C03;
}


@media screen and (max-width: 768px) {

    .login-btn {


        font-size: 16px;
        font-weight: 500;
        border-radius: 225px;
        margin-right: 16px;
    }

}