.banner {
    position: relative;
    height: 760px;
    overflow: hidden;
    background: rgba(107, 145, 66, 0.244);

}

.left-leaf {
    position: absolute;
    top: -40px;
    left: -100px;
    height: 300px;
    width: 300px;
}

.banner-text {
    position: absolute;
    top: 180px;
    left: 100px;
    font-family: 'Merienda', cursive;
    color: #396C03;
    font-weight: 700;
    font-size: 65px;
}

.banner-text h4 {
    font-family: 'Poppins', sans-serif;
    color: #3F3F3F;
    font-weight: 600;
}

.search-section {
    position: absolute;
    top: 530px;
    left: 100px
}

.search-section input {
    width: 610px;
    height: 60px;
    border-radius: 30px;
    background: white;
    padding-left: 64px;
}

.search-box {
    position: relative;
}

.search-box>img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.search-btn {
    position: absolute;
    right: 0px;
    background: #396C03;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 225px;

}

.right-side-section {
    position: relative;
    overflow: hidden;
}

.plate1 {
    position: absolute;
    top: 100px;
    left: 50px;
    height: 200px;
    width: 200px;
    z-index: 1;
}

.plate2 {
    position: absolute;
    top: 160px;
    left: 100px;
    height: 500px;
    width: 500px;
    z-index: 10;
}

.leaf2 {
    position: absolute;
    top: 70px;
    right: -20px;
    height: 300px;
    width: 300px;
    z-index: 1;

}

.delivery-card {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 180px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(6px);
    padding: 18px;
    border-radius: 6px;
    z-index: 100;
    transform: translateX(0);
    animation: moveDiv 5s linear infinite;

}

@keyframes moveDiv {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }
}

.delivery-card img {
    height: 36px;
    width: 36px;

}

.delivery-card h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #FF8B00;
    font-size: 30px;
    margin-left: 10px;

}

.delivery-card p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #959595;
    margin: 2px 6px;

}


@media screen and (max-width: 992px) {

    .banner {

        height: 1200px;


    }

    .left-leaf {

        top: -30px;
        left: -80px;
        height: 200px;
        width: 200px;
    }

    .banner-text {

        top: 100px;
        left: 60px;

    }

    .search-section {
        position: absolute;
        top: 440px;
        left: 56px
    }

    .plate1 {

        top: 20px;

    }

    .plate2 {

        top: 60px;

    }

    .leaf2 {

        top: -10px;
        right: 220px;


    }

    .delivery-card {
        position: absolute;
        top: 10px;
        left: 300px;


    }


}


@media screen and (max-width: 768px) {

    .banner {

        height: 760px;


    }

    .left-leaf {
        position: absolute;
        top: -30px;
        left: -80px;
        height: 170px;
        width: 180px;
    }

    .banner-text {
        position: absolute;
        top: 100px;
        left: 20px;
        font-size: 30px;
    }

    .search-section {
        position: absolute;
        top: 300px;
        left: 16px
    }

    .search-section input {
        width: 350px;
        height: 54px;
        border-radius: 27px;
        background: white;
        padding-left: 54px;
    }

    .search-box>img {
        position: absolute;
        height: 42px;
        width: 42px;

    }

    .search-btn {
        font-size: 16px;
    }


    .plate1 {
        position: absolute;
        top: 20px;
        left: 12px;
        height: 100px;
        width: 100px;

    }

    .plate2 {
        position: absolute;
        top: 34px;
        left: 24px;
        height: 300px;
        width: 300px;
        z-index: 10;
    }

    .leaf2 {
        position: absolute;
        top: 0px;
        right: -0px;
        height: 200px;
        width: 200px;
        z-index: 1;

    }

    .delivery-card {

        top: 0px;
        left: 140px;
        width: 160px;
        padding: 8px;
        border-radius: 6px;


    }

    @keyframes moveDiv {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(-40px);
        }

        100% {
            transform: translateX(0);
        }
    }

}